:root {
}

body {
  margin: 0;
}

#app {
  height: 100svh;
  width: 100vw;
}

.app {
  display: flex;
  margin: 0;
  height: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.portfolio,
.windows98,
.blog {
  flex: 1;
  position: relative;
}

.portfolio iframe,
.windows98 iframe,
.blog iframe {
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.portfolio:hover iframe,
.windows98:hover iframe,
.blog:hover iframe {
  opacity: 0.4;
}

.portfolio span,
.windows98 span,
.blog span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

button {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 30vw;
  border: none;
  border-radius: 0px;
  font-size: 40px;
  @media (max-width: 980px) {
    font-size: 30px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
    /* width: 100vw; */
  }
}

button:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  transition: 0.5s;
  outline: 3px solid #242424;
}

a {
  color: rgba(255, 255, 255, 0.87);
}

a button {
  color: inherit;
  font-family: monospace;
}

.socials {
  background-color: lightgray;
  white-space: nowrap;
  color: white;
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 0 10px;
  text-align: center;
  z-index: 100;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2); */
}

.socials a {
  color: white;
}

.socials a:hover {
  color: black;
}

.hovered iframe {
  opacity: 0.4;
}

.hovered span {
  opacity: 1;
}

.socials:hover {
  color: black;
}
