:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  height: 100svh;
  width: 100vw;
}

.app {
  display: flex;
  margin: 0;
  height: 100%;
  @media (max-width: 768px) {
    flex-direction: column; /* Stack divs in columns */
  }
}

.portfolio,
.windows98,
.blog {
  flex: 1;
  position: relative;
}

.portfolio iframe,
.windows98 iframe,
.blog iframe {
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease; /* Add a transition for a smooth effect */
}

.portfolio:hover iframe,
.windows98:hover iframe,
.blog:hover iframe {
  opacity: 0.4; /* Display on hover */
}

.portfolio span,
.windows98 span,
.blog span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure text is above the iframe */
}

/* .portfolio {
  background-color: #f5dd90;
}
.windows98 {
  background-color: #f68e5f;
}
.blog {
  background-color: #f76c5e;
} */

button {
  font-size: 40px;
  @media (max-width: 768px) {
    font-size: 20px; /* Stack divs in columns */
  }
}

button:hover {
  cursor: pointer;
}

a {
  color: rgba(255, 255, 255, 0.87);
}

a button {
  color: inherit;
}
